<div class="footer">
    <div class="pull-right">
      Gliggo
      <%= link_to "Policy", page_path('policy')%>
      <%= link_to "Terms", page_path('terms')%>
    </div>
    <div>
        <strong>Copyright</strong> Gliggo &copy; 2019-2020
    </div>
</div>
