<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to Gliggo Admin Portal.</span>
            </li>


            <li>
                <%= link_to destroy_user_session_path do %>
                    <i class="fa fa-sign-out"></i> <span style="color: #888888">Log out</span>
                <% end %>
            </a>
        </li>


    </ul>
</nav>
</div>